body{
    font-size: 100%;
    position: relative;
    font-family: '游ゴシック';
}

img{
    max-width: 100%;
}

ul{
    padding-left: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 0.8;
}

p{
    margin: 0;
}

h3{
    margin: 0;
}

/* header------------- */
header{
    height: 100px;
    padding: 40px 0 0 50px;
}

#header .site-title{
    line-height: 1px;
    width: 100px;
}

#header a{
    display: block;
}

#header img{
    vertical-align: bottom;
}

.hamburger{
    background-color: red;
    height: 100px;
    width: 100px;
    cursor: pointer;
    z-index: 1;
    top: 0;
    right: 0;
    position: fixed;
}

.hamburger:hover{
    opacity: 0.7;
}

.hamburger span{
    background-color: white;
    height: 2px;
    width: 50px;
    position: absolute;
    left: 25px;
}

.hamburger span:nth-last-of-type(1){
    top: 36px;
}

.hamburger span:nth-last-of-type(2){
    top: 51px;
}

.hamburger span:nth-last-of-type(3){
    top: 64px;
}

#navi{
    display: none;
}

/* mainvisual--------------------- */
#mainvisual{
    height: 720px;
    margin-bottom: 120px;
    position: relative;
}

#mainvisual .text {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
}

.text .title{
    font-size: 2.875rem;
    font-weight: bold;
    text-shadow: 0 4px 6px #fff;
    margin-bottom: 30px;
}

.text .btn{
    color: white;
    background-color: red;
    font-size: 1.5rem;
    border-bottom: 5px solid rgb(133, 19, 19);
    border-radius: 10px;
    padding: 15px 35px;
    display: block;
    text-align: center;
    position: relative;
    transition: all 0.5s;
}

.text .btn::after{
    content: "";
    width: 16px;
    height: 16px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 26px;
    right: 30px;
}

.text .btn:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

.fade li {
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.fade li:nth-of-type(2),
.fade li:nth-of-type(3){
    display: none;
}

.fade li img{
    width: 100%;
    height: 720px;
    object-fit: cover;
}

/* reason^--------------------- */
.section-title{
    text-align: center;
    position: relative;
    font-size: 2.25rem;
    margin-bottom: 100px;
}

.section-title::after{
    content: "";
    background-color: black;
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
}

.bg{
    background-color: red;
    padding: 80px 0;
    position: relative;
}

.slide {
    width: 50%;
    background-color: white;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img{
    height: 60px;
    width: auto;
    margin-right: 30px;
}

.slide .title {
    color: red;
    font-size: 1.75rem;
    font-weight: bold;
    display: block;
}

.slide .text {
    font-size: 1.125rem;
    display: block;
}

.slide:nth-of-type(1){
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 40px;
}

.slide:nth-of-type(2){
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-left:50%;
}

/* voice-------------------- */
.wrapper{
    max-width: 860px;
    margin: 0px auto;
    padding: 60px 0;
}

.inview-balloon{
    padding: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.inview-balloon .student{
    text-align: center;
    width: 120px;
    margin-bottom: 10px;
    font-size: 0.75rem;
}
.inview-balloon img{
    background-color: gray;
    border-radius: 50%;
}

.inview-balloon .balloon-text{
    width: 65%;
    padding: 20px;
    background-color:#e9f1fb;
    border-radius: 20px;
}

.item-left .balloon-text{
    margin-left: 25px;
    position: relative;
    z-index: 1;
}

.item-left .balloon-text::after{
    content: "";
    background-color:#e9f1fb;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    top:50px;
    left: -10px;
    z-index: 0;
}


.item-right .balloon-text{
    margin-right: 25px;
    position: relative;
    z-index: 1;
}

.item-right .balloon-text::after{
    content: "";
    background-color:#e9f1fb;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    top:50px;
    right: -10px;
    z-index: 0;
}

/* summary-------------------- */
#summary{
    background: url(../img/bg.gif);
}

#summary .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#summary li{
    width: 47%;
    background-color: white;
    text-align: center;
    padding: 60px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.menu h3{
    margin-bottom: 20px;
}
.menu .ja{
    display: block;
    font-size: 1.75rem;
}

.menu .en{
    font-size: 1.0rem;
}
.menu p{
    text-align: left;
}

/* entry------------------- */
#entry {
    text-align: center;
}
#entry .title{
    font-size: 2.0rem;
    font-weight: bold;
}

#entry .catchphrase{
    font-size: 1.25rem;
    margin-bottom: 20px;
}

#entry .btn{
    display: block;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
    padding: 15px;
    border-radius: 40px;
    border: 3px solid red;
    transition: all 0.3s;
}

#entry .btn:hover{
    color: red;
    background-color: white;
}

/* footer----------------- */
footer{
    background-color: #e8e8e8;
}

.inner.wrapper{
    display: flex;
    justify-content: space-between;
}

.inner.wrapper p{
    font-weight: bold;
}

.inner.wrapper .menu{
    margin: 10px 0 0 10px;
}

.inner.wrapper a{
    color: black;
}

.copyright{
    text-align: center;
    font-size: 0.75rem;
}